* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    column-gap: 1px;
}

.freeship__text {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #F5F5F5;
    padding: 5px 0px;
    height: 26px;
}

/* header */
.header{
    width: 100%;
    height: 83px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(255, 178, 110, 0.6);
    height: 100%;
    padding: 0px 45px;
    position: sticky;
}

.brandLogo {
    height: 19px;
}

.navbar {
    display: flex;
    column-gap: 35px;
}

.navbar__link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.navbar__link__active{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: underline;
}

.iconBox__userDetail {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.iconBox__userDetail__name {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.iconBox__userDetail__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none;
}

.iconBox {
    display: flex;
    column-gap: 19px;
}

.iconBox__searchBox{
    display: flex;
    align-items: center;
}
.search__btn{
    border: none;
    background-color: transparent;
}

.search_input{
    width: 0px;
    overflow: hidden;
    outline-style: none;
    background-color: var(251, 205, 164);
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    transition: width 1s ease;
}

.iconBox__icon {
    width: 17px;
    height: 17px;
    font-size: 22px;
    font-weight: 400;
    color: black;
}

/* body */
.body{
    position: relative;
    top: 108px;
}
.productList {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}
.productList__banner{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.productList__banner>img{
    width: 100%;
    bottom: 5px;
    position: absolute;
}
.productList__title {
    color: #FFFFFF;
    text-shadow:5px 6px 5px #2b2b2b ;
    width: 100%;
    height: 30%;
    font-size: 45px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    position: absolute;
    background-color: rgb(144, 144, 144,0.4);
    top: 40%;
    text-align: center;
    padding: 10px 0px;
}

.working-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;
    width: 100%;
    background-color: #F5F5F5;
}
.adminInfoBox{
    display: flex;
    column-gap: 50px;   
}
.adminInfoBox__avatar{
    width: 250px;
    height: 200px;
    
}
.adminInfoBox__Detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.userManagerTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.userManagerTable__tbody__avatar{
    width: 150px;
}
.userManagerTable__userAvatar{
    width: 150px;
}
.userManagerTable__buttonBox__button{
    width: 80px;
    height: 40px;
    margin: 0px 5px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.blockBtn{
    background-color: rgb(119, 179, 253);
}
.unblockBtn{
    background-color: rgb(137, 253, 119);
}
.removeBtn{
    background-color: rgb(253, 119, 119);
}
/* footer */
.footer{
    position: relative;
    top: 108px;
    display: flex;
    flex-direction:column ;
    background-color: #F6F6F6;
    row-gap: 3px;
    height: 500px;
    width: 1521.7px;
}
.footer__brandDetail{
    height: 415px;
    display: flex;
    column-gap: 3px;
    background-color: #F6F6F6;
}
.footer__brandDetail__container1{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 65px;
    row-gap: 20px;
    min-height: 400px;
    width: 40%;
}
.footer__brandDetail__title{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer__brandDetail__signUpDiscount{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer__brandDetail__input{
    width: 400px;
    height: 30px;
    border: none;
    background-color: #F6F6F6;
    padding:0px 15px;
}
.footer__brandDetail__text{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e3e3e;
}
.footer__brandDetail__text a{
    color: #3e3e3e;
}

.footer__brandDetail__container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFFFFF;
    row-gap: 20px;
    min-height: 400px;
    width: 60%;
}
.footer__content{
    display: flex;
    flex-direction: column;
    padding: 65px;
    row-gap: 10px;
}
.footer__content__title{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
}
.footer__content a{
    color: #3e3e3e;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.footer_socialMedia{
    height: 85px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 65px;
}
.footer_socialMedia a{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e3e3e;
    text-decoration: none;
}
.footer_socialMedia__links{
    display: flex;
    column-gap: 20px;
}