*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    column-gap: 1px;
}
.freeship__text{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #F5F5F5;
    padding: 5px 0px;
    height: 26px;
}
/* header */
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 83px;
    padding: 0px 45px;
    position: sticky;
}
.brandLogo{
    height: 19px;
}
.navbar{
    display: flex;
    column-gap: 35px;
}
.navbar__link{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 15px;
}
.iconBox__userDetail{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.iconBox__userDetail__name{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.iconBox__userDetail__avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.iconBox{
    display: flex;
    column-gap: 19px;
}
.iconBox__icon{
    width: 17px;
    height: 17px;
    font-size: 22px;
    font-weight: 400;
    color: black;
}

.productList{
 display: flex;
 flex-direction: column;
 row-gap: 1px;
}
.productList__title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    font-size: 45px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
.productList__sumaryBanner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    height: 60px;
    padding: 0px 50px;
    background-color: #ffffff;
}
.productList__sumaryBanner__buttonBox{
    display: flex; 
}
.sumaryBanner__selector{
    display: flex; 
}
.sumaryBanner__selector__button{
    background-color: transparent;
    border: none;
    font-size: 17px;
    cursor: pointer;
}
.producList-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;
    width: 100%;
    background-color: #F5F5F5;
}
.product{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 24.9%;
    height: 500px;
    background-color: #ffffff;
}
.product__Img{
    width: 100%;
    height: 100%;
}
.imgContainer{
    width: 80%;
    height: 55%;
}
.display{
    display: none;
}
.detailBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    height: 15%;
}
.product__bestSellerText{
    height: 10%;
    font-size: 12px;
}
.product__name{
    text-align: center;
    width: 90%;
    height: 50%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.buttonBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    align-items: center;
    width: 90%;
    height: 30%;
}
.sizeButtonBox__container{
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 50%;
}
.sizeButton{
    width: 50px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.addToBag-ButtonBox{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.statusButtonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 45px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
.addToBag{
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    cursor: pointer;
}
.Notify-Me{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    cursor: pointer;
}
.addToBag:hover,.Notify-Me:hover{
    transition: all ,0.5s;
    color: #FFFFFF;
    background-color: black ;
}
.priceContructor{
    display: flex;
    column-gap: 10px;
}
.originalPrice{
    text-decoration:line-through;
}