* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    column-gap: 1px;
}

.freeship__text {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #F5F5F5;
    padding: 5px 0px;
    height: 26px;
}

/* header */
.header {
    width: 100%;
    height: 83px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.header__iconBoxContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 178, 110, 0.6);
    height: 100%;
    padding: 0px 45px;
    position: sticky;
}

.brandLogo {
    height: 19px;
}

.navbar {
    display: flex;
    column-gap: 35px;
}

.navbar__link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.navbar__link__active {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: underline;
}

.iconBox__userDetail {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.iconBox__userDetail__name {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.iconBox__userDetail__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none;
}

.iconBox {
    display: flex;
    column-gap: 19px;
}

.iconBox__searchBox {
    display: flex;
    align-items: center;
}

.search__btn {
    border: none;
    background-color: transparent;
}

.search_input {
    width: 0px;
    overflow: hidden;
    outline-style: none;
    background-color: var(251, 205, 164);
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    transition: width 1s ease;
}

.search_input::placeholder {
    padding: 0px 10px;
}

.expanded {
    padding: 0px 10px;
    width: 150px
}

.iconBox__icon {
    width: 17px;
    height: 17px;
    font-size: 22px;
    font-weight: 400;
    color: black;
}
.admin__login__link{
    font-size: 12px;
}

.iconBox__cartBox {
    position: relative;
}

.cartBox__totalProducts {
    display: inline-block;
    background-color: red;
    color: #FFFFFF;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    position: absolute;
}

/* body */
.body {
    position: relative;
    top: 108px;
}
/* Slide show */
    /* Slide container */
.slideShow__container{
    max-width: 1519px;
    position: relative;
}
    /* Slide hidden*/
.slides{
    display: none;
    position: relative;
}
.slides__img{
    width: 100%;
    height: 400px;
    object-fit: cover;

}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
/* Fading animation */
@keyframes fade{
    from {opacity: 0 }
    to {opacity: 1}
}
/* productList */
.productList {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.productList__banner {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.productList__banner>img {
    width: 100%;
    bottom: 5px;
    position: absolute;
}

.productList__title {
    color: #FFFFFF;
    text-shadow: 5px 6px 5px #2b2b2b;
    width: 100%;
    height: 30%;
    font-size: 45px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    position: absolute;
    background-color: rgb(144, 144, 144, 0.4);
    top: 40%;
    text-align: center;
    padding: 10px 0px;
}

.productList__sumaryBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    height: 60px;
    padding: 0px 50px;
    background-color: #ffffff;
}

.productList__sumaryBanner__buttonBox {
    display: flex;
    align-items: center;
}

.sumaryBanner__selector__dropDownBox {
    display: flex;
}

.sumaryBanner__selector {
    display: flex;
    position: relative;
}

.dropDownBox__dropDownSelector {
    background-color: transparent;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.sumaryBanner__selector__dropDownBox:hover>.dropDownBox__dropDownItem {
    display: block;
}

.dropDownBox__dropDownItem {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
}

.dropDownBox__dropDownItemList {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.dropDownIcon {
    padding: 10px;
    list-style-type: none;
}

.producList-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;
    width: 100%;
    background-color: #F5F5F5;
}

.product {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 24.9%;
    height: 500px;
    background-color: #ffffff;
}

.product__Img {
    width: 100%;
    height: 100%;
}

.imgContainer {
    width: 80%;
    height: 55%;
}

.display {
    display: none;
}

.detailBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    height: 15%;
}

.product__bestSellerText {
    height: 10%;
    font-size: 12px;
}

.product__name {
    text-align: center;
    width: 90%;
    height: 50%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    align-items: center;
    width: 90%;
    height: 30%;
}

.sizeButtonBox__container {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 50%;
}

.sizeButton {
    width: 50px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.addToBag-ButtonBox {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.statusButtonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 45px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.addToBag {
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
}

.Notify-Me {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    cursor: pointer;
}

.addToBag:hover,
.Notify-Me:hover {
    transition: all, 0.5s;
    color: #FFFFFF;
    background-color: black;
}

.priceContructor {
    display: flex;
    column-gap: 10px;
}

.originalPrice {
    text-decoration: line-through;
}

.producList__textBox {
    height: 250px;
    width: 100%;
    padding: 80px 50px;
    background-color: #FFFFFF;
}

.producList__textBox__text {
    font-size: 15px;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.producList__pagination {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.producList__pagination__page {
    display: flex;
    column-gap: 20px;
    cursor: pointer;
}

.pagination__pageNumber {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}

.active__page {
    text-decoration: underline;
    font-weight: 900;

}


/*  cart CSS */
.renderProductTable {
    min-height: 250px;
    width: 100%;
    border-collapse: collapse;
}

.renderProductTable__thead {
    height: 30px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FBCDA4;
}

.renderProductTable__tbody {
    text-align: center;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.renderProductTable__tbody>tr:nth-child(even){
    background-color:rgb(250, 246, 216); ;
}

.tbody__imgContainer {
    width: 13%;
}

.tbody__productImg {
    width: 100%;
    height: 100%;
}

.tbody__deleteBtn {
    width: 80px;
    height: 40px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.tbody__deleteBtn:hover {
    color: #FFFFFF;
    background-color: rgb(252, 110, 110);
    transition: all 0.5s;
}

.tbody__adjustBtn {
    border: none;
    font-size: 22px;
    padding: 0px 10px;
}

.tbody__adjustBtn:hover {
    color: #F28F33;
    transition: all 0.5s;
}

.tbody__adjustBtn:active {
    color: rgb(252, 110, 110);
    transition: all 0.5s;
}

.renderProductTable__tfoot {
    background-color: rgb(252, 110, 110);
    height: 30px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.productList__buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.productList__buttonBox__btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: #F28F33;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    transition: all 1s;
}

.productList__buttonBox__btn:hover {
    color: #FFFFFF;
    background-color: #2b2b2b;
    transform: scale(1.05);

}

.productList__buttonBox__btn:active {
    color: rgb(252, 110, 110);
    transform: scale(1);
}

/* footer */
.footer {
    position: relative;
    top: 108px;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    row-gap: 3px;
    height: 500px;
    width: 1521.7px;
}

.footer__brandDetail {
    height: 415px;
    display: flex;
    column-gap: 3px;
    background-color: #F6F6F6;
}

.footer__brandDetail__container1 {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 65px;
    row-gap: 20px;
    min-height: 400px;
    width: 40%;
}

.footer__brandDetail__title {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer__brandDetail__signUpDiscount {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer__brandDetail__input {
    width: 400px;
    height: 30px;
    border: none;
    background-color: #F6F6F6;
    padding: 0px 15px;
}

.footer__brandDetail__text {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e3e3e;
}

.footer__brandDetail__text a {
    color: #3e3e3e;
}

.footer__brandDetail__container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFFFFF;
    row-gap: 20px;
    min-height: 400px;
    width: 60%;
}

.footer__content {
    display: flex;
    flex-direction: column;
    padding: 65px;
    row-gap: 10px;
}

.footer__content__title {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
}

.footer__content a {
    color: #3e3e3e;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.footer_socialMedia {
    height: 85px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 65px;
}

.footer_socialMedia a {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3e3e3e;
    text-decoration: none;
}

.footer_socialMedia__links {
    display: flex;
    column-gap: 20px;
}